.content_and_cards {
  padding: 20px;
  .content {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    // margin: 50px 50px;
    margin: 15px 160px;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
  }
}
